

span{
  font-family:FreeMono, monospace;
  font-size: 20px;
}

.pergunta{
  font-family: Bradley Hand, cursive;
  font-size: 30px;
}

.titulo{
  font-family:Brush Script MT, Brush Script Std, cursive ;
  color: white;
  font-size: 59px;
}

.titulo2{
  font-family:Arial, Helvetica, sans-serif ;
  color: white;
  font-size: 49px;
  position: relative;
  margin-left: 50px;
}


.material-icons{
  font-size: 4rem;
}

.container segunda{
  border-color: black ;
}